


@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Dela+Gothic+One&family=Rock+3D&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Signika+Negative:wght@300&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&family=Righteous&family=Signika+Negative:wght@300&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&family=Righteous&family=Signika+Negative:wght@300&family=Teko:wght@300&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Quicksand:wght@400;600&family=Radio+Canada&family=Righteous&family=Signika+Negative:wght@300&family=Teko:wght@300&family=VT323&display=swap');


.banner{ 
  position:  fixed;
  top: 0; 
  left: 0;
  height: 3vw;
  background-color: #071b1b; 
  width: 100%; 
  
}


.insidebanner{
  margin-top: 0;
  position:  fixed;
  right:0;
  width:8vw;
  font-size: 1vw;
  text-align: right;
  font-family: 'Dela Gothic One', cursive;
  color: white;
}

.titlebanner{
  font-size: 1.5vw;
    position: relative;
    left : 35%;
    font-family: 'Dela Gothic One', cursive;
    color: white;
}

h1{
    text-align: center;
    font-size: 5em;
    font-family: 'VT323', monospace;
    color: rgb(212, 212, 212);
    -webkit-text-stroke: 2px rgb(109, 141, 247);
    margin-bottom: 0;
}
h2{
  margin-top: -1em;
    text-align: center;
    font-family: 'Dela Gothic One', cursive;
    color: white;
    margin-bottom: 0.5em;
    
}

h3{
  font-family: 'Righteous', cursive;
  text-align: center;

}
.mem{
    align-content: center;
}
body{
    background-color: #91b3ca;
}


.firstphoto{
  padding-bottom: 3vw;
}

.first{
  position: fixed;
  background-color:#B6BA9B ;
  min-width: 1024px;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  top : 3vw;
  height: 50em;
}
.secondpage{
    margin-top: 5em;
    background-color: rgb(63, 109, 141);
}
.pageevolution{
    margin-top: 5em;
    background-color: rgb(63, 141, 116);
}

.abilitiespage{
  margin-top: 5em;
  background-color: #b5e48c;
}

.UIpage{
  margin-top: 5em;
  background-color: #99bd66;
}

.multipage{
  margin-top: 5em;
  background-color: #ffae70;
}

.maps{
  margin-top: 5em;
  background-color: rgb(198, 183, 116);
}

.ressourcespage{
  margin-top: 5em;
  background-color: black;
}
.AIpage{
  margin-top: 5em;
  background-color: rgb(170, 201, 255);
}

.back{
    position:  fixed;
    left:0;
    top :0;
    width: 40;
}
.backone{
  position:  fixed;
  left:0;
  top :4vw;
  width: 30;
}
.firstpage{
    text-align: center;
    padding-top: 0vw;
    padding-bottom : 2vw;
    margin-left:33%;
  position: relative;
  display: inline-block;
  text-align: center;
}



/*.butt,#back{
    
  }*/
.butt:hover {
    background-color: black;
    color: white;
  }
/*.backto{
    position:  fixed;
    top : 0;
    left:0;
    
}*/
p{
    margin-bottom: 4em; 
    text-align: center;
    white-space: pre;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.big_one{
    display: flex;
    border-radius: 12px;

}
.presentation
{
    font-family: 'Signika Negative', sans-serif;
    width:90%;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 3em;
    padding:5px;
    border: 2px solid rgb(26, 35, 59);
    border-radius: 16px;
    background-color: #8ea9bd;
    word-break: break-word;
    text-align: center;
}

.inspiration{
    flex: 1;
    font-family: 'Signika Negative', sans-serif;
    width:30%;
    margin-left: 3em;
    margin-right: 3em;

    float:left;
    margin-bottom: 3em;
    padding:5px;
    word-break: break-word;
    text-align:justify;
    color: aliceblue;
}
.inspiration2{
  font-family: 'Signika Negative', sans-serif ;
  word-break: break-word;
  text-align:justify;
  color: rgb(0, 0, 0);
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
  }
  /*.team{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
  }*/
  
 .dropdown {
   width: 140px;
    position: absolute;
    display: inline-block;
    padding-bottom: 0;
  }
  
  .dropdown-content {
    color: rgb(128, 127, 127); 
    /*padding: 12px 16px;*/
    text-decoration: none;
    font-family: 'Dela Gothic One', cursive;
    font-size: 10px;
    
    border-radius: 12px;
    text-align: center;
    display: block;
    
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    
  }
  
  .dropdown-content a{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    font-family: 'Dela Gothic One', cursive;
    font-size: 10px;
    background-color:#6B9EB0;
    border: 1px solid #34a0a4;
    border-radius: 12px;
    text-align: center;
    display: block;
    width: 120px;
    height: 5px;
    /*border: 2px solid #3565d5;*/
  }
  
  .dropdown-content a:hover {background-color: black;
    color: white}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  
  .butt {
    border: none; 
    padding: 10px 18px;
    text-align: center;
    text-decoration:none;
    font-family: 'Dela Gothic One', cursive;
    border-radius: 12px;
    font-size: 13px;
    margin: 8px 9px;
    margin-top: 0;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color:#6B9EB0;
    color: rgb(226, 220, 220); 
    border: 2px solid #34a0a4;
    position: relative;
    
}
.inside{
  padding: 1vw;
}

.photoinside{
  padding-bottom: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
}

.column {
  max-width: 31%;
  margin-left: 2vw;
  float: left;
  width: 33.33%;
  text-align:justify;
  border-radius: 20px;
  border: 2px solid black;

}

.columns:after {
  padding-left: 2vw;
  content: "";
  display: table;
  clear: both;
  
}
 
.column2{
    max-width: 48%;
    margin-left: 2vw;
    float: left;
    width: 45%;
    text-align:justify;
    border-radius: 20px;
    border: 2px solid black;
  }

.mapdesign{
  font-family: 'Signika Negative', sans-serif;
  width:90%;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 3em;
  padding:5px;
  word-break: break-word;
  text-align: justify;
  font-family: 'Radio Canada', sans-serif;
}

.co {
  float: left;
  width: 25%;
  padding: 5px;
}
.co1 {
  float: left;
  width: 40%;
  padding: 5px;
}
.colum {
  float: left;
  width: 25%;
  
}

.col {
  float: left;
  width: 50%;
  padding: 5px;
}
.col2 {
  float: left;
  width: 45%;
  padding: 5px;
  
}
.col3 {
  float: left;
  width: 32%;
  padding: 2px;
  
}
.sec1{
  float: left;
  width: 50%;
  padding: 5px;
}

.conew{
  float: left;
  width: 30%;
  padding-left: 40px;
}
.co2new{
  float: left;
  width: 20%;
padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
  margin-bottom: 2vw;
}

.appear {
  display: none;
  font-family: 'Signika Negative', sans-serif;
  font-size: 95%;
}

.personne:hover + .appear  {
  display: block;
  
}

.steam{
  border: 2px solid black;
  border-radius: 12px;
  padding-left: 1vw;
  padding-right: 1vw;
  width: 20vw;
}

.colteam {
  float:left;
  
}

.bede{
  position: absolute;
  bottom: 5px;
  right: 30vw;
  width: 30;
  background-color: rgb(247, 224, 176);
}
.tom{
  position: absolute;
  top: 10vw;
  left: 2vw;
  width: 30;
  background-color: rgb(182, 182, 182);
}

.val{
  position: absolute;
  bottom: 5px;
  left: 10vw;
  width: 25vw;
  background-color: rgb(99, 147, 98);
}
.cha{
  position: absolute;
  top: 5vw;
  right: 2vw;
  width: 20vw;
  background-color: rgb(159, 109, 71);
}

.team{
  padding-bottom: 2vw;
  padding-top: 2vw;
}
.box{
  position: static;
  max-height: 80%;
  height:3vw;
}

.pdf{
  width: 22%;
background-color: whitesmoke;
color: rgb(0, 0, 0); 
border: 2px solid #0a0b0b;
font-size: 65%;
font-family: 'Quicksand', sans-serif bold;
}

.click{
  font-size:90%;
}


.pdf:hover, .dropdown:hover .pdf  {
  background-color: #8ea9bd;
  color: black;
}

.category{
  border-top: 2px solid white;
  width:4vw ;
  margin-top: 1vw;
}

.what{
  position: absolute;
  padding-bottom: 2vw;
  color: white;
  font-family: 'Quicksand', sans-serif;
}

.ticket{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.inside{
  font-family: 'Radio Canada', sans-serif;

}


.buttchoice {
  border: none;
  padding: 10px 18px;
  text-align: center;
  text-decoration:none;
  font-family: 'Dela Gothic One', cursive;
  border-radius: 12px;
  font-size: 13px;
  margin: 8px 9px;
  margin-top: 0;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color:#b0a06b;
  color: rgb(226, 220, 220); 
  border: 2px solid #545454;
  position: relative;
  display: inline-block;
  text-align: center;
  
}
.but{
  position: relative;
  margin-left: 38%;
}

.buttchoice:hover {
  background-color: black;
  color: white;
}

.buttbackone {
  border: none;

  text-align: center;
  text-decoration:none;
  font-family: 'Dela Gothic One', cursive;
  border-radius: 12px;
  
  font-size: 13px;
  margin: 8px 9px;
  margin-top: 0;
  transition-duration: 0.4s;
  cursor: pointer;
  background-attachment: fixed;
  color: rgb(2, 2, 2); 
  border: 2px solid #545454;
  position: relative;
  display: inline-block;
  text-align: center;
  
}
.but{
  position: relative;
  margin-left: 40%;
}

.buttbackone:hover {
  background-color: black;
  color: white;
}

.columnnn {
  
  float: left;
  width: 30%;
  padding: 5px;
  padding-top: 2vw;
}




.dropdowntop {
  width: 112;
   position: absolute;
   display: inline-block;
   padding-bottom: 0;
 }
 
 .dropdowntop-content {
   color: rgb(128, 127, 127); 
   /*padding: 12px 16px;*/
   text-decoration: none;
   font-family: 'Dela Gothic One', cursive;
   font-size: 8;
   
   border-radius: 12px;
   text-align: center;
   display: block;
   
   display: none;
   position: absolute;
   min-width: 160px;
   z-index: 1;
   
 }
 
 .dropdowntop-content a{
   color: white;
   padding: 9.6px 12.8px;
   text-decoration: none;
   font-family: 'Dela Gothic One', cursive;
   font-size: 10px;
   background-color:black;
   border: 1px solid white;
   border-radius: 12px;
   text-align: center;
   display: block;
   width: 96;
   height: 5px;
   /*border: 2px solid #3565d5;*/
 }
 
 .dropdowntop-content a:hover {background-color: white;
   color: black}
 
 .dropdowntop:hover .dropdowntop-content {
   display: block;
 }

 
 .butttop {
   border: none; 
   padding: 8px 14.4px;
   text-align: center;
   text-decoration:none;
   font-family: 'Dela Gothic One', cursive;
   border-radius: 12px;
   font-size: 10.4px;
   margin: 8px 9px;
   
   margin-top: 0;
   transition-duration: 0.4s;
   cursor: pointer;
   background-color:black;
   color: rgb(226, 220, 220); 
   border: 2px solid white;
   position: relative;
   
   
}